*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body{
    font-family: sans-serif;
    background: rgb(36, 34, 34);
    
  }
  
  .bodytest{
      display: flex;
      height: 100vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgba(20, 19, 19, 0.884);
      background-size: cover;
    
      
    
  }
  
  .container{
      width: 550px;
      max-width: 650px;
      
      background-color: rgba(150, 146, 146, 0.5);
      padding: 28px;
      margin: 0 28px;
      border-radius: 8px;
      flex-direction: column;
      
  }
  .form-title{
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 6px;
      color: azure;
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      border-bottom: solid 1px white;
  }
  
  
  .main-user-info{
    
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
  }
  
  
  
  .user-input-box{
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding-bottom: 15px;
  }
  
  .user-input-box label{
      width: 95%;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 400;
      margin: 5px 0;
  }
  
  .user-input-box input{
      height: 45px;
      width: 95%;
      border-radius: 5px;
      outline: none;
      border: 1px solid grey;
      padding: 0 10px;
  }

  .btn{

    background-color: #242121;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(105, 105, 105);
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .btn:hover{
    border: 1px solid aliceblue;


  }

  a{
        border: 2px;
        color: aliceblue;

  }

  li{

    color: aliceblue;
    font-size: 20px;
  }